<?xml version="1.0" encoding="UTF-8" ?>
<beans>
    <bean id="userDao" class="org.steeveen.yasframework.test.bean.UserDao"></bean>
    <bean id="userService" class="org.steeveen.yasframework.test.bean.UserService">
        <property name="uId" value="user01"></property>
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>